<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  {% assign meta_description = page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 160 %}
  <meta name="description" content="{{ meta_description | escape }}">

  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | absolute_url }}">
  <script defer src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
  <script>
    window.MathJax = {
      tex: {
        inlineMath: {'[+]': [['$', '$']]}
      }
    };
  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/mathjax@4.1.2/tex-mml-chtml.js"></script>
</head>
