.highlight {
    background: $code-bg;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    @extend %vertical-rhythm;

    .c     { color: #555555; font-style: italic }
    .err   { color: #aaaaaa; text-decoration: underline }
    .k     { color: #e0e0e0; font-weight: bold }
    .o     { color: #c0c0c0 }
    .cm    { color: #555555; font-style: italic }
    .cp    { color: #666666 }
    .c1    { color: #555555; font-style: italic }
    .cs    { color: #555555; font-style: italic }
    .gd    { color: #aaaaaa; background-color: #333333 }
    .gd .x { color: #aaaaaa; background-color: #3a3a3a }
    .ge    { font-style: italic }
    .gr    { color: #888888 }
    .gh    { color: #777777 }
    .gi    { color: #cccccc; background-color: #2a2a2a }
    .gi .x { color: #cccccc; background-color: #323232 }
    .go    { color: #777777 }
    .gp    { color: #666666 }
    .gs    { font-weight: bold }
    .gu    { color: #777777 }
    .gt    { color: #888888 }
    .kc    { color: #e0e0e0; font-weight: bold }
    .kd    { color: #e0e0e0; font-weight: bold }
    .kp    { color: #e0e0e0; font-weight: bold }
    .kr    { color: #e0e0e0; font-weight: bold }
    .kt    { color: #bbbbbb; font-weight: bold }
    .m     { color: #aaaaaa }
    .s     { color: #999999 }
    .na    { color: #aaaaaa }
    .nb    { color: #bbbbbb }
    .nc    { color: #cccccc; font-weight: bold }
    .no    { color: #aaaaaa }
    .ni    { color: #c0c0c0 }
    .ne    { color: #cccccc; font-weight: bold }
    .nf    { color: #e0e0e0 }
    .nn    { color: #c0c0c0 }
    .nt    { color: #dddddd }
    .nv    { color: #c0c0c0 }
    .ow    { color: #e0e0e0; font-weight: bold }
    .w     { color: #444444 }
    .mf    { color: #aaaaaa }
    .mh    { color: #aaaaaa }
    .mi    { color: #aaaaaa }
    .mo    { color: #aaaaaa }
    .sb    { color: #999999 }
    .sc    { color: #999999 }
    .sd    { color: #888888; font-style: italic }
    .s2    { color: #999999 }
    .se    { color: #bbbbbb }
    .sh    { color: #999999 }
    .si    { color: #aaaaaa }
    .sx    { color: #999999 }
    .sr    { color: #bbbbbb }
    .s1    { color: #999999 }
    .ss    { color: #aaaaaa }
    .bp    { color: #bbbbbb }
    .vc    { color: #c0c0c0 }
    .vg    { color: #c0c0c0 }
    .vi    { color: #c0c0c0 }
    .il    { color: #aaaaaa }
}
